#
# The MySQL database server configuration file.
#

[client]
port        = 3306
socket      = /var/run/mysqld/mysqld.sock

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket      = /var/run/mysqld/mysqld.sock
nice        = 0

[mysqld]
user        = mysql
pid-file    = /var/run/mysqld/mysqld.pid
socket      = /var/run/mysqld/mysqld.sock
port        = 3306
basedir     = /usr
datadir     = /var/lib/mysql
tmpdir      = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
default-storage-engine=INNODB
character-set-server=utf8
collation-server=utf8_bin

bind-address        = 0.0.0.0
innodb_buffer_pool_size = 1024M
key_buffer_size     = 32M
max_allowed_packet  = 64M
thread_stack        = 192K
thread_cache_size       = 8

query_cache_limit   = 16M
query_cache_size        = 64M
log_error = /var/log/mysql/error.log
server-id               = 4

log_bin                 = mysql-bin
expire_logs_days        = 60
max_binlog_size         = 500M
binlog_format           = mixed

binlog_ignore_db        = jiradb

!includedir /etc/mysql/conf.d/
